@import "~styles/mixins";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;

  &.dark {
    background-color: $blue-black;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 46, 69, 0.3), #011925);
  }

  &.light {

  }

  & > * {
    position: relative;
  }
}
